@import "color.scss";


//Homepage
.hill-img{
    position: relative;
    left: -50px;
}

.hero-banner{
    background-color: $beige;
    padding: 40px 0;
    .hero-banner-item{
        display: flex;
        align-items: center;
    }
}

.inksie-explanation{
    background-image: linear-gradient($white, $beige);
    .bark-item{
        display: flex;
        align-items: center;   
    }
    .etsy-img{
        margin-bottom: 25px;
    }
}

.clients-bg{
    background: $light-brown;
}



//About
.about-us-section{
    background: $light-brown;
}

.creation-process{
    .creation-process-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .ink-txt-card{
        padding-left: 110px;
    }
}

//Contact
.contact{
    background: $turquoise;
    .contact-section{
        .contact-details{
            color: $white;
            h2, h4{
                padding-top:18px;
                color: $white;
            }
            span{
                &.icon-email, &.icon-phone{
                    font-size: 75px;
                }
            }
            .email-details{
                cursor: pointer; 
                &:hover, &:focus, &:active{
                    color: darken($white, 10%) !important;
                }  
            }
            a{
                &.phone-details{
                    &:hover{
                        text-decoration: none;
                    }
                }

            }
            .icon-phone{
                    color: $white;
                }
            }
        }
    }

.tool-tip{
    margin-top: 18px;
    .tooltip-onClick{
        font-size: 16px;
        background: $black-brown;
        border-radius: 10px;
        padding: 12px;
    }
} 


//General Styling
section{
    padding: 60px 0;
}

.img-responsive{
    width: 100%;
}

.center-items{
    display: flex;
    justify-content: center;
    text-align: center;
}

.no-padding{
    padding: 0;
}

.no-padding-top{
    padding-top:0;
}

.padding-bottom{
    padding-bottom: 60px;
}

.padding-top{
    padding-top: 60px;
}

.padding-bottom-xs{
    padding-bottom: 30px;
}

