@import "color.scss";


// button.custom-btn.btn.btn-primary{
//     padding: 18px 50px;
//     margin-top: 40px;
//     height: 65px;
//     font-family: bikobold;
//     font-size: 21px;
//     background: $red-orange;
//     border: none;
//     &:focus, &:hover, &:active{
//         background: darken($red-orange, 10%);
//         border: none;
//     }
// }

button{
    &.custom-btn{
        &.btn{
            &.btn-primary{
                padding: 18px 50px;
                margin-top: 40px;
                height: 65px;
                font-family: bikobold;
                font-size: 21px;
                background: $red-orange;
                border: none;
                &:focus, &:hover, &:active{
                background: darken($red-orange, 10%);
                border: none;
                outline: none;
                box-shadow: none;
                }
            }
        }
    }
}

