@import "color.scss";

.navbar{
    padding: 19px 0;
    .navbar-brand{
        padding: 0;
    } 
}

.navbar-light{
    .navbar-nav{
        a{
            color: $black-brown;
            margin-left: 40px;
            padding:0;
            text-decoration: none;
            &:hover, &:focus, &:active{
                color:$turquoise;
            }
            &.active{
                color:$turquoise;
            }
        }
    }
}



