@import "color.scss";

body{
    font-family: bikoregular;
    font-size: 1.25rem;
    font-size: 20px;
    color: $black-brown;
}

h1{
    font-family: bikobold;
    font-size: 3.75rem;
    font-size: 60px;
    color: $black-brown;
}

h2{
    font-family: bikobold;
    font-size: 3.0rem;
    font-size: 48px;
    color: $black-brown;
}

h3{
    font-family: bikobold;
    font-size: 2.5rem;
    font-size: 40px;
    color: $black-brown;
}

h4{
    font-family: bikobold;
    font-size: 1.875rem;
    font-size: 30px;
    color: $black-brown;
}

h5{
    font-family: bikobold;
    font-size: 1.5rem;
    font-size: 24px;
    color: $black-brown;
}

h6{
    font-family: bikobold;
    font-size: 1.31rem;
    font-size: 21px;
    color: $black-brown;
}

p{
    font-family: bikoregular;
    font-size: 1.25rem;
    font-size: 20px;
    color: $black-brown;
}




